.user-img{
     width: 50px;
     height: 50px; 
     border: 1px solid gray;
     border-radius: 100%; 
}
.chat-msg{
    font-size: 12px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    width: 150px;
   
}
.date{
    font-weight: normal;
    font-size: 12px;
}
.user{
    margin-top: 14px;
    cursor: pointer;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.border-bottom:hover{
    background-color: black;
}
.additem-icon{
    width: 3rem !important;
    height: 3rem !important;
    color: #0048AA;
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
}
.bottom-adduser{
    padding: 21px;
    background: #0048AA;
}